//
// RESET
// 

@import "./reset.scss";

//
// FONTS
//

@import "./fonts.scss";

//
// ANIMATIONS
//

.showhide-open-flex {
    display: flex !important;
}

.showhide-open-block {
    display: block !important;
}

.showhide-open-active {
    opacity: 1 !important;
}

//
// APP
//
body {
    font-family: 'Karla';
}

#wrapper {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(180deg, #FFF1D0 0%, rgba(255, 241, 208, 0.00) 100%);
}

// ===
// === START
// ===
.start {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
}

.start-text {
    color: var(--Text-Color, #7A28CB);
    text-align: center;
    font-family: Karla;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    
    p {
        margin-bottom: 50px;
    }
}

// ===
// === INTRO
// ===

.intro {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
}

.intro-text {
    color: var(--Text-Color, #7A28CB);
    text-align: center;
    font-family: Karla;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 50px;

    display: block;
    opacity: 0;
}

// ===
// === QUESTIONS
// ===

.questions {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    // display: flex;
    height: 100vh;
    width: 100vw;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    min-height: 550px;

    width: 100%;
}

.question-text-wrapper {
    width: 600px;
}

.question-text {
    color: var(--Text-Color, #7A28CB);
    text-align: left;
    font-family: Karla;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;

    width: 600px;

    .heading {
        margin-bottom: 50px;
    }

    strong {
        font-weight: 800;
        font-style: italic;
    }
}

// ===
// === MANIFESTO
// ===

.manifesto {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    // display: block;
    display: none;

    opacity: 0;
}

.manifesto-text {
    position: absolute;
    top: 110px;
    left: 140px;

    color: var(--Text-Color, #7A28CB);
    font-size: 35px;
    font-family: Karla;
    font-weight: bold;
    line-height: 50px;
}

.manifesto-heading {
    font-style: italic;
    margin-bottom: 50px;
}

.manifesto-paragraph {
    opacity: 0;
    display: none;
}

.manifesto-paragraph-2 {
    opacity: 0;
    display: none;
    margin-bottom: 50px;
}

// ===
// === OUTRO
// ===

.outro {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    // display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.outro-manifest-concept {
    color: var(--Text-Color, #7A28CB);
    text-align: center;
    font-family: Karla;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    line-height: 50px;

    margin-bottom: 50px;

    display: block;
    opacity: 0;
}

.outro-text {
    color: var(--Text-Color, #7A28CB);
    text-align: center;
    font-family: Karla;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;

    display: block;
    opacity: 0;

    p {
        margin-bottom: 50px;
    }
}

@keyframes buttonfloating {
    from {
        left: 0;
        top: 0;
    }
  
    25% {
        left: -5px;
        top: -5px;
    }

    50% {
        left: 0;
        top: 0;
    }

    75% {
        left: 5px;
        top: 5px;
    }
  
    to {
        left: 0px;
        top: 0px;
    }
}

@keyframes moveAround {
    0%   { transform: translate(10.00px, 0.00px); }
    10%  { transform: translate(8.09px, 5.88px); }
    20%  { transform: translate(3.09px, 9.51px); }
    30%  { transform: translate(-3.09px, 9.51px); }
    40%  { transform: translate(-8.09px, 5.88px); }
    50%  { transform: translate(-10.00px, 0.00px); }
    60%  { transform: translate(-8.09px, -5.88px); }
    70%  { transform: translate(-3.09px, -9.51px); }
    80%  { transform: translate(3.09px, -9.51px); }
    90%  { transform: translate(8.09px, -5.88px); }
    100% { transform: translate(10.00px, 0.00px); }
}

@keyframes moveAroundOpposite {
    100% { transform: translate(10.00px, 0.00px); }
    90%  { transform: translate(8.09px, 5.88px); }
    80%  { transform: translate(3.09px, 9.51px); }
    70%  { transform: translate(-3.09px, 9.51px); }
    60%  { transform: translate(-8.09px, 5.88px); }
    50%  { transform: translate(-10.00px, 0.00px); }
    40%  { transform: translate(-8.09px, -5.88px); }
    30%  { transform: translate(-3.09px, -9.51px); }
    20%  { transform: translate(3.09px, -9.51px); }
    10%  { transform: translate(8.09px, -5.88px); }
    0%   { transform: translate(10.00px, 0.00px); }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(10px); }
}

@keyframes zoomIn {
    0% { transform: scale(1); }
    100% { transform: scale(2); }
}

//
// BUTTONS
//
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 160px;
    width: 100%;
}

.circle-button-wrapper {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
}

.rectangle-button-wrapper {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
}

.circle-button {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(122, 40, 203, 0.5);

    animation: moveAround 5s linear infinite;
}

.rectangle-button {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(122, 40, 203, 0.5);

    animation: moveAroundOpposite 5s linear infinite;
}